/* Reset CSS */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-family: sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow:hidden;
}

#root, #__next {
  isolation: isolate;
}

/*     */

:root {
  --bg-color: #565656;
  --form-color: #d7cec7;
  --text-form-color: #3f3e3e;
  --header-color: #ecdac7;
  --btn-color: #76323f;
  --btn-text-color: #c09f80;
  --title-color: #f3a774;
}

.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}

.bg {
  width: 40%;
  height: 100vh;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
}

.bg-card {
  display: flex;
  background-color: var(--bg-color);
  opacity: 50%;
  padding:30px;
}

.bg-title {
  font-family: "Spicy Rice", serif;
  font-size: 2rem;
  padding-left: 45%;
  color: var(--title-color);
}

.card {
  width: 60%;
  height: 100vh;
}

.card-header {
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  padding: 5rem;
  height: 35%;
  line-height: 1,1;
}

.form-group {
  background-image: linear-gradient(to bottom, var(--form-color) 50%, var(--header-color) 50%);
  display: flex;
  flex-direction: column;
  height: 65%;
  padding-left: 20px;
  width: 100%;
}

.form-group h3 {
  padding-top: 20px;
}

.card-form {
  display: flex;
}

.card-form form:first-of-type {
  padding-right: 60px;
}

label {
  display: block;
}

form {
  padding-top: 25px;
}

.card-login {
  padding-left: 10%;
  padding-top: 15%;
}

button {
  background-color: var(--btn-text-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: black;
  transition-duration: 0.4s;
  text-align: center;
  height: 50px;
  width: 200px;
}

button:hover {
  background-color: black;
  color: var(--btn-text-color);
}

.card-login p {
  padding-top: 10px;
}

.login {
  color: var(--btn-color)
}